# Environment & Secrets
/env.json
.env
.env.local

# Dependencies
/node_modules/

# Build artifacts
/.homeybuild/

# Development
**/bck/
/dev-scripts/*
!/dev-scripts/sync-local-lib.js
/log/
.homeyignore
*.ps1
*.bat
/.agent/
TODO.txt

# IDE
*.code-workspace
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log